<app-default-page
    [moduleTitle]="'Dashboard'"
>
    <div class="indicator-row">
        <app-ss-os-indicator [value]="this.SSQtd"></app-ss-os-indicator>
        <app-ss-os-indicator [iconAndLabel]="'OS corretivas'" [value]="this.correctiveSOQtd"></app-ss-os-indicator>
        <app-ss-os-indicator [iconAndLabel]="'OS preditivas'" [value]="this.preditiveSOQtd"></app-ss-os-indicator>
        <app-ss-os-indicator [iconAndLabel]="'OS preventivas'" [value]="this.preventiveSOQtd"></app-ss-os-indicator>
    </div>
    <div class="row">
        <div class="col-12">
            <app-content-container [title]="'Últimas solicitações de serviço'">
                <app-data-table
                    [dataTableConfiguration]="this.dataTableConfiguration"
                    [enableSearch]="false"
                ></app-data-table>
            </app-content-container>
        </div>
    </div>
</app-default-page>



