<app-side-menu></app-side-menu>
<div class="content">
    <app-content-top-menu
        [moduleTitle]="'Mão de obra'"
        [subPageLinks]="this.subPageLinks"
    ></app-content-top-menu>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-content-container>
                    <app-crud-table
                        [crudTableConfiguration]="this.crudTableConfiguration"
                    ></app-crud-table>
                </app-content-container>
            </div>
        </div>
    </div>
</div>
