<div class="collapse-button" (click)="this.collapseButtonClick()">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.5007 3.3335L5.83398 10.0002L12.5007 16.6668" stroke="black" stroke-opacity="0.6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>        
</div>
<div class="logo-wrapper">
    <app-logo [routerLink]="'/dashboard'" [size]="'small'"></app-logo>
</div>
<div class="side-menu-itens">
    <app-side-menu-item (click)="this.sideMenuClick()" [routerLink]="'/dashboard'"></app-side-menu-item>
    <app-side-menu-item (click)="this.sideMenuClick()" [routerLink]="'/manpower'" [type]="'Mão de obra'"></app-side-menu-item>
    <app-side-menu-item (click)="this.sideMenuClick()" [routerLink]="'/resources'" [type]="'Recursos'"></app-side-menu-item>
    <app-side-menu-item (click)="this.sideMenuClick()" [routerLink]="'/interventions'" [type]="'Intervenções'"></app-side-menu-item>
    <app-side-menu-item (click)="this.sideMenuClick()" [routerLink]="'/services'" [type]="'Serviços'"></app-side-menu-item>
</div>
<div class="user-wrapper">
    <div class="user">
        <div class="user-data">
            <img src="./assets/storage/users/manutentor@tau.com.br/profilePicture.png" alt="Foto de perfil" class="user-photo">
            <div class="user-name-and-email">
                <span class="user-name">{{this.loginService.user?.displayName}}</span>
                <span class="user-email">{{this.loginService.user?.email}}</span>
            </div>
        </div>
        <div class="log-out" (click)="this.logOut()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8V6C14 5.46957 13.7893 4.96086 13.4142 4.58579C13.0391 4.21071 12.5304 4 12 4H5C4.46957 4 3.96086 4.21071 3.58579 4.58579C3.21071 4.96086 3 5.46957 3 6V18C3 18.5304 3.21071 19.0391 3.58579 19.4142C3.96086 19.7893 4.46957 20 5 20H12C12.5304 20 13.0391 19.7893 13.4142 19.4142C13.7893 19.0391 14 18.5304 14 18V16" stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7 12H21M21 12L18 9M21 12L18 15" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                             
        </div>
    </div>
</div>