:host {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
}

@media (max-width: 767px) {
    :host {        
        flex-direction: column;
    }

    app-side-menu {
        display: none;
    }
}